<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="bulma/css/bulma.css" type="text/css">
    <title>Appli fil rouge</title>
</head>

<body>
    <header>
        <nav class="navbar container">
            <a href="index.html">
                <figure class="image is-96x96">
                    <img src="img/logo.png" alt="Revenir à l'accueil" class="image is-rounded">
                </figure>
            </a>
            <div class="navbar-start container level">
                <h1 class="subtitle level-item has-text-white">La mini boutique de l'Archipel</h1>
            </div>

            <ul class="navbar-menu navbar-end">
                <li class="navbar-item"><a href="views/products.html">Liste des produits</a></li>
                <li class="navbar-item"><a href="views/caddy.html">Caddy</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="title level-item">Bienvenue dans la mini boutique de l'Archipel Simplon!</h2>

        <section class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="actions container level">
                    <button id="showAllProducts" class="level-left button is-medium is-warning">Voir les produits de la
                        boutique</button>
                    <button id="showCart" class="level-right button is-medium is-warning">Voir mon caddy</button>
                </div>
                <div class="container level">
                    <div class="level-left">
                        <table id="productsTable" class="productsTableOff table is-striped">
                            <thead>
                                <tr>
                                    <td>N°</td>
                                    <td>Produit</td>
                                    <td>Prix(&euro;)</td>
                                    <td>Sélection</td>
                                    <td>Quantité</td>
                                </tr>
                            </thead>
                            <tbody id="productsList"></tbody>
                        </table>
                    </div>
                    <div id="caddyTable" class="level-right caddyTable productsTableOff">
                        <table class="table is-striped">
                            <thead>
                                <tr>
                                    <td>N°</td>
                                    <td>Produit</td>
                                    <td>Prix(&euro;)</td>
                                    <td>Quantité</td>
                                </tr>
                            </thead>
                            <tbody id="caddyList"></tbody>
                        </table>
                    </div>
                </div>
                <div class="container level endCmd">
                    <p id="caddyMessage" class="caddyMessage level-item subtitle message"></p>
                    <input id="submitCmd" type="button" class="productsTableOff level-item button is-info" value="Valider ma commande">
                </div>
            </div>
        </section>
    </main>
    <footer class="level">
        <a href="index.html" class="level-item">Revenir à l'accueil</a>
    </footer>
    <script src="script.js"></script>
</body>

</html>